{% extends 'mainapp/base.html' %}

{% block titulo_barra %}Estadistícas{% endblock %}
{% block titulo_seccion %}Estadistícas{% endblock %}

{% block contenido %}
<ul>
    <li>Consultas toteles realizadas en el Zoo: {{num_consultas}}</li>
    <li>Vacunas totales puesta a animales: {{num_vacunas}}</li>
    <li>Veterinarios que trabajan en el Zoo: {{num_veterinarios}}</li>
    <li>Animales en el Zoo: {{num_animales}}</li>
    <li>Edad media de veterinarios: {{edad_media_veterinarios}}</li>
</ul>

{% endblock %}